{% extends "base.html" %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Lista de Posts</h1>

{% if posts_data %}
<div class="posts-list">
    {% for item in posts_data %}
        {% include "blog/post_card.html" with post=item.post user_vote=item.user_vote %}
    {% endfor %}
</div>
{% else %}
<p>No hay posts disponibles.</p>
{% endif %}

<p>
    <a href="{% url 'blog:post_create' %}" class="btn btn-primary">Crear un nuevo Post</a>
</p>
{% endblock %}
